/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE
/*******************************************/

body {
  text-align: center;
  width: auto;
}


/******************************************
/* LAYOUT
/*******************************************/
header {}

.upgrades {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

footer {}

/******************************************
/* MODULE
/*******************************************/


/******************************************
/* STATE
/*******************************************/




/******************************************
/* THEME
/*******************************************/

.basket {
  font-size: 4em;
}