/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE
/*******************************************/

html {
  text-align: center;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 8px;
  }
}

body {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.pointer {
  cursor: pointer;
}

/******************************************
/* LAYOUT
/*******************************************/

/* NAVIGATION BAR */

.topNav {
  background: radial-gradient(ellipse closest-side, green 20%, transparent);
  padding: 15px;
}

@media screen and (max-width: 769px) {
  .topNav {
    padding: 5px;
  }
}

.button {
  padding: 10px;
  font-size: 1rem;
  margin: 0.5%;
}

/* APPLE BASKET AND BANK */
.appleBasketBank {
  margin: 5%;
}

.appleBasketBank * {
  margin: 5px;
}

.basketContainer,
.bankContainer {
  background: radial-gradient(ellipse closest-side, green 20%, transparent);
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.bankContainer {
  width: 30%;
}

#mainApple {
  width: 50%;
}

@media screen and (min-width: 1025px) {
  #mainApple {
    width: 25%;
  }
}

@media screen and (min-width: 769px) {
  #mainApple {
    width: 30%;
  }
}

.mainApple {
  margin: 2em;
}

.basket {
  font-size: 3em;
  display: inline;
  padding: 0 8%;
}

.basketContainer {
  padding: 1em;
}

.applesPerSec {
  display: inline;
  padding: 0 5%;
}

/* GROWERS */

.grow,
.gather {
  width: 45%;
}

.growerItem,
.gatherItem {
  background: radial-gradient(at 0% 0%, rgb(104, 49, 49), green 40%, transparent 90%);
  border: ridge 15px rgb(104, 49, 49);
  padding: 15px;
  height: 250px;
}

.growerItemMainBox,
.gatherItemMainBox {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.growerItem *,
.gatherItem * {
  margin: 10px;
}

.boxItem {
  display: block;
}

.boxItemName {
  width: 60%;
}

.boxItemCost,
.boxItemCount {
  margin: auto 0;
  width: 20%;
}

.boxItemCost {
  text-align: left;
}

.boxItemCount {
  text-align: right;
}

@media screen and (min-width: 1025px) {
  .thingsToBuy {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (max-width: 1024px) {
  .thingsToBuy {
    display: flex;
    justify-content: space-around;
  }

  .growerItem,
  .gatherItem {
    height: 350px;
  }
}

@media screen and (max-width: 768px) {
  .thingsToBuy {
    display: block;
  }

  .growerItem,
  .gatherItem {
    height: 250px;
    font-size: 1.5em;
  }

  .grow,
  .gather {
    display: block;
    margin: auto;
    width: auto;
  }
}

.boxItemImage {}

.boxItemCost,
.boxItemCount {
  font-size: .75em;
}

.boxItemName {
  font-size: 2em;
}

.boxItemDescription {
  font-size: .75em;
  font-weight: thin;
  font-style: italic;
  text-align: left;
}

.boxItemQuote {
  font-size: .6em;
  text-align: right;
}

footer {}

/******************************************
/* MODULE
/*******************************************/


/******************************************
/* STATE
/*******************************************/

/* Big Apple */

#mainApple {

  animation: 30s infinite linear rotate;
  transition: all 1s ease-out;
}

#mainApple:active {
  scale: 85%;
  rotate: -15deg;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes scale {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.9);
  }
}


/******************************************
/* THEME
/*******************************************/
html {
  min-height: 100%;
  background-color: rgb(53, 75, 1);
  background-image: url("../assets/images/small-orchard.jpg");
  background-repeat: no-repeat;
  background-position: center center;

  background-size: cover;
}

body {
  color: white;
  font-size: 2rem;
  font-family: 'Cabin', sans-serif;
}