/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE
/*******************************************/

body {
  text-align: center;
  width: auto;
}


/******************************************
/* LAYOUT
/*******************************************/
header {}

#mainApple {
  width: 25%;
  margin: 10% 0;
}

.upgrades {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

footer {}

/******************************************
/* MODULE
/*******************************************/


/******************************************
/* STATE
/*******************************************/

#mainApple {

  animation: 30s infinite linear rotate;
  transition: all 1s ease-out;
}

#mainApple:active {
  scale: 85%;
  rotate: -15deg;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes scale {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.9);
  }
}


/******************************************
/* THEME
/*******************************************/

.basket {
  font-size: 4em;
}